* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
    // background-color: aqua;
  }
  @import "./library";
  @import "./player";
  @import "./song";
  @import "./nav";

  .album-player {
    flex: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 600px;
    // max-width: 800px;
  }
  .upper-container {
    display: flex;
    gap: 20px;
  }
  h1,
  h2,
  h3 {
    color: rgb(54, 54, 54);
  }
  h3,
  h4 {
    font-weight: 600;
  }
  button {
    font-weight: 700;
  }
  
  @media all and (max-width: 750px) { 
    .upper-container {
      flex-direction: column;
    }
    .album-player {
      width: 300px;
      flex: 1;
    }
  }
