.footer-bg {
    background-color: #14171F;
    /* min-height: 200px; */
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 80px;
}

.text {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1em;
    color: white;
    list-style-type: none;
}

.menuItems {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.socialMedia {
    /* Add styles if needed */
    list-style: none;
    color: white;
    height: 40px;
    width: 40px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

@media all and (max-width: 750px) {
    .footer-content {
        flex-direction: column;
    }
    .one-third {
        padding: 10px 20px;
    }
}
