/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000c12;
}
.text {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #d5dbde;
    text-decoration: none;
}

.text-cover {
    font-size: 2em;
    text-align: center;
}