.container {
    width: 100%;
    margin: 60px 0 40px 0;
}
.album-img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 60px;
}
.album {
    max-width: 320px;
    min-width: 300px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    justify-items: center;
}
/* TODO: Fix last row flex */
.album-container .album:last-child:nth-child(3n) {
    justify-content: flex-start; /* Align with flex-start for last row */
}
.title {
    margin-bottom: 40px;
}
.text {
    line-height: 1.5;
    text-align: center;
}

.callToAction {
    display: block;
    min-width: 80px;
    height: 30px;
    margin-top: 20px;
    background-color: #519ead;
    border-radius: 5px;
}

@media all and (max-width: 750px) {
     .album-container {
        justify-content: center;
     }
}